<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/5.jpg" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">12354.00</span> <span class="float-end price-hp">4.7</span> </div>
                        <h5 class="card-title">Seral lights are used to glow it's looking and adjusting .</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/6.jpg" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00</span> <span class="float-end"><a href="#">3.9</a></span> </div>
                        <h5 class="card-title">it gives extra looking to u r room . the design was excelent. generally celling lights have some advantages there.</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/7.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">Lights</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">700.00</span> <span class="float-end"><a href="#" class="small text-muted">4.7</a></span> </div>
                        <h5 class="card-title">celling light are used to more attrictive to and more looking.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/8.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">lights</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">12354.00</span> <span class="float-end"><a class="text-muted small" href="#">4.5</a></span> </div>
                        <h5 class="card-title">it gives extra looking to u r room . the design was excelent. generally celling lights have some advantages there.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<router-outlet></router-outlet></body></html>