<div class="container">
    <div class="d-flex justify-content-center">
        <div class="row my-5">
            <div class="col-bg col-md-6 text-left text-white lcol">
                <form class="sign-up">
                    <h2 class="heading mb-4">Registration form</h2>
                    <hr>
                    <div class="form-group-spe fone mt-2">
                        <div class="form-item">
                            <p>First name</p> <input type="name" class=" form-control" placeholder="First name">
                        </div>
                        <div class="form-item">
                            <p>Last name</p> <input type="name" class=" form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group fone mt-2">
                        <p>Email</p> <input type="email" class=" form-control" placeholder="Email">
                    </div>
                    <div class="form-group fone mt-2">
                        <p>Password</p> <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group fone mt-2">
                        <p>Confirm password</p> <input type="password" class="form-control" placeholder="Password">
                    </div> <label class="mt-16 checkbox-cus"> <input type="checkbox" class="form-check-input ml-0" id="exampleCheck1"> <span class="form-check-label ml-3" for="exampleCheck1">I accept the Terms of Use & Policy</span> </label>
                </form> <button type="button" class="btn btn-success mt-5">Sign Up</button>
                <p class="title-social">Or signup with </p>
                <div class="signup-other">
                    <div class="social"> <img src="././assets/fb.jpg" intrinsicsize="512 x 512" width="180" height="180" srcset="https://www.svgrepo.com/show/13642/facebook.svg 4x" alt="Facebook SVG Vector" title="Facebook SVG Vector">
                        <p>Facebook</p>
                    </div>
                    <div class="social"> <img src="././assets/google.png" intrinsicsize="512 x 512" width="180" height="180" srcset="https://www.svgrepo.com/show/223041/google.svg 4x" alt="Google SVG Vector" title="Google SVG Vector">
                        <p>Google</p>
                    </div>
                </div>
                <p class="re-login">Already have account ? <a id="login-open2" href="">Log In</a> </p>
            </div>
            <div class="col-bg col-title col-md-6 rcol">
                <div class="sign-img">
                    <h1>Sign up for the best experience !</h1>
                </div>
            </div>
        </div>
    </div>
</div>