<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/celling fan1.jpg" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">2500.00</span> <span class="float-end price-hp">4.8</span> </div>
                        <h5 class="card-title">It's a latest modeal celling fan form cheep cost the maintance of the this fan and also good experience your facing.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/celling fan2.png" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">2700.00</span> <span class="float-end"><a href="#">4.6</a></span> </div>
                        <h5 class="card-title">It's a latest modeal celling fan form cheep cost the maintance of the this fan and also good experience your facing.</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/celling fan3.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">celling fan</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">3000.00</span> <span class="float-end"><a href="#" class="small text-muted">4.5</a></span> </div>
                        <h5 class="card-title">It's a latest modeal celling fan form cheep cost the maintance of the this fan and also good experience your facing.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/celling fan.jfif" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">celling fan</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">1700.00</span> <span class="float-end"><a class="text-muted small" href="#">4.0</a></span> </div>
                        <h5 class="card-title">It's a latest modeal celling fan form cheep cost the maintance of the this fan and also good experience your facing.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/service we.png" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">25.00/mtr</span> <span class="float-end price-hp">4.2</span> </div>
                        <h5 class="card-title">actually it's a better price for buying this product . it's good brand it's give long life of the product and it's double coated product.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/service wire 1.jpg" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">33.00/mtr</span> <span class="float-end"><a href="#">4.3</a></span> </div>
                        <h5 class="card-title">actually it's a better price for buying this product . it's good brand it's give long life of the product and it's double coated product..</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/service wire.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">Service wire</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">21.00/mtr</span> <span class="float-end"><a href="#" class="small text-muted">4.2</a></span> </div>
                        <h5 class="card-title">actually it's a better price for buying this product . it's good brand it's give long life of the product and it's double coated product..</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/servicewire.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">Service wire</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">23.00/mtr</span> <span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">actually it's a better price for buying this product . it's good brand it's give long life of the product and it's double coated product..</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/isolator gold madal.jpg" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">300.oo</span> <span class="float-end price-hp">4.8</span> </div>
                        <h5 class="card-title">Generally insted of main we prefar isolator it's maintance is easy life spane also good.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/isolato havells.png" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">700.00</span> <span class="float-end"><a href="#">4.7</a></span> </div>
                        <h5 class="card-title">Generally insted of main we prefar isolator it's maintance is easy life spane also good..</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/isolator orient.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">Isolator</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">320.00</span> <span class="float-end"><a href="#" class="small text-muted">4.6</a></span> </div>
                        <h5 class="card-title">Generally insted of main we prefar isolator it's maintance is easy life spane also good...</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/dp-isolator anchor.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">Isolator</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">290.00</span> <span class="float-end"><a class="text-muted small" href="#">4.8</a></span> </div>
                        <h5 class="card-title">Generally insted of main we prefar isolator it's maintance is easy life spane also good...</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/mcb 6a schgo.jfif" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">170.00</span> <span class="float-end price-hp">4.8</span> </div>
                        <h5 class="card-title">Basically we using mcb for circuit breaking. beforeb days we are using fuses for circute breaking.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/mcb 16 a hanger.jpg" class="card-img-top" alt="..." height="350">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">150.00</span> <span class="float-end"><a href="#">4.3</a></span> </div>
                        <h5 class="card-title">Basically we using mcb for circuit breaking. beforeb days we are using fuses for circute breaking.</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/mcb 10a.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">MCB</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">140.00</span> <span class="float-end"><a href="#" class="small text-muted">4.3</a></span> </div>
                        <h5 class="card-title">Basically we using mcb for circuit breaking. beforeb days we are using fuses for circute breaking.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./././assets/mcb_1-500x500 16a goid.jpg" class="card-img-top" alt="..." height="350">
                    <div class="label-top shadow-sm">MCB</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">170.00</span> <span class="float-end"><a class="text-muted small" href="#">4.7</a></span> </div>
                        <h5 class="card-title">Basically we using mcb for circuit breaking. beforeb days we are using fuses for circute breaking.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>