
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">12354.00</span> <span class="float-end price-hp">4.5</span> </div>
                        <h5 class="card-title">it gives extra looking to u r room . the design was excelent. generally celling lights have some advantages there</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
        <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00</span> <span class="float-end"><a href="#">4.2</a></span> </div>
                        <h5 class="card-title">it gives extra looking to u r room . the design was excelent. generally celling lights have some advantages there</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/3.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Celling</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00</span> <span class="float-end"><a href="#" class="small text-muted">4.4</a></span> </div>
                        <h5 class="card-title">it gives extra looking to u r room . the design was excelent. generally celling lights have some advantages there</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/4.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Sandilayer</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">12354.00</span> <span class="float-end"><a class="text-muted small" href="#">4.5</a></span> </div>
                        <h5 class="card-title">it gives extra looking to u r room . the design was excelent. generally celling lights have some advantages there</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/sw.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">700.00</span> <span class="float-end price-hp">4.9</span> </div>
                        <h5 class="card-title">Generally Switches Are old Shapeless We Are Using The Lower Cost Of the Switches Gives Rich look to u r Home</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/swi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">600.00</span> <span class="float-end"><a href="#">4.0</a></span> </div>
                        <h5 class="card-title">Generally Switches Are old Shapeless We Are Using The Lower Cost Of the Switches Gives Rich look to u r Home</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/read swww.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Switches</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">1500.00</span> <span class="float-end"><a href="#" class="small text-muted">4.8</a></span> </div>
                        <h5 class="card-title">Generally Switches Are old Shapeless We Are Using The Lower Cost Of the Switches Gives Rich look to u r Home.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/swit.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Switches</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">1100.00</span> <span class="float-end"><a class="text-muted small" href="#">4.5</a></span> </div>
                        <h5 class="card-title">Generally Switches Are old Shapeless We Are Using The Lower Cost Of the Switches Gives Rich look to u r Home.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/read swww.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">1500.00</span> <span class="float-end price-hp">4.0</span> </div>
                        <h5 class="card-title">Readymade switch boxs are used to fast instlation. it safe and speed work will done with that</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/ready sw.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">2000.00</span> <span class="float-end"><a href="#">4.4</a></span> </div>
                        <h5 class="card-title">Readymade switch boxs are used to fast instlation. it safe and speed work will done with that.</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/read sww.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Switch box</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">1235.00</span> <span class="float-end"><a href="#" class="small text-muted">4.3</a></span> </div>
                        <h5 class="card-title">Readymade switch boxs are used to fast instlation. it safe and speed work will done with that.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/resww.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Switch box</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">1354.00</span> <span class="float-end"><a class="text-muted small" href="#">4.5</a></span> </div>
                        <h5 class="card-title">Readymade switch boxs are used to fast instlation. it safe and speed work will done with that.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/redmcb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">3000.00</span> <span class="float-end price-hp">4.5</span> </div>
                        <h5 class="card-title">The ready made MCB boxs are used for quick instllation . and also work completed by speed</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/redmc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">1354.00</span> <span class="float-end"><a href="#">4.8</a></span> </div>
                        <h5 class="card-title">The ready made MCB boxs are used for quick instllation . and also work completed by speed</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/ac box 1.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">AC box</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">400.00</span> <span class="float-end"><a href="#" class="small text-muted">4.9</a></span> </div>
                        <h5 class="card-title">readymade ac box is to fix to easy way using this product .</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="././assets/swiii.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">McB box</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">1354.00</span> <span class="float-end"><a class="text-muted small" href="#">4.5</a></span> </div>
                        <h5 class="card-title">The ready made MCB boxs are used for quick instllation . and also work completed by speed.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Your intrested on my products</h4>
                    <p>Please subscribe your to get notifications from powerhub </p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post"> <input type="email" name="email"><input type="submit" value="Subscribe"> </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Products</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Electrical Spare</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Electrical Readymade</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Wire Cables</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Lights</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Switch Boxes</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p> 2-9 Main Road <br> Narasaraopet,Guntur,A.p,522601<br> India <br><br> <strong>Phone:</strong> +91 9966629424<br> <strong>Email:</strong> powerhub@gmail.com<br> </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About Powerhub</h3>
                    <p>To buy and sell electrical items on online. know the maintaince of particular item</p>
                    <div class="social-links mt-3"> <a href="#" class="twitter"><img src="././assets/twit.jpg" height="30" width="30"><i class="bx bxl-twitter"></i></a> <a href="#" class="facebook"><i class="bx bxl-facebook"><img src="././assets/fb.jpg" height="30" width="30"></i></a> <a href="#" class="instagram"><i class="bx bxl-instagram"><img src="././assets/insta.jpg" height="30" width="30"></i></a> <a href="#" class="linkedin"><i class="bx bxl-linkedin"><img src="././assets/linked.jfif" height="30" width="30"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright"> © Copyright <strong><span>Srinivas</span></strong>. All Rights Reserved </div>
        <div class="credits"> Designed by <a href="#">SrinivasD</a> </div>
    </div>
</footer>